body {
    background-color: #0f172a;
    color: #f8fafc;
    padding: 20px;
}

.card {
    background-color: #1e293b;
    border: 1px solid #334155;
    border-radius: 16px;
    box-shadow: 0 0 12px rgba(56, 189, 248, 0.2);
    transition: transform 0.2s;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.02);
}

.safe {
    background-color: rgba(34, 197, 94, 0.1);
    /* Hijau lembut */
    color: #09c94f;
    border-radius: 12px;
    padding: 6px 12px;
    font-weight: 500;
    box-shadow: 0 0 4px rgba(34, 197, 94, 0.2);
}

.danger {
    background-color: rgba(239, 68, 68, 0.1);
    /* Merah lembut */
    color: #ec0202;
    border-radius: 12px;
    padding: 6px 12px;
    font-weight: 500;
    box-shadow: 0 0 4px rgba(239, 68, 68, 0.2);
}


@media (max-width: 768px) {
    .card-title {
        font-size: 1.2rem;
    }
}

